
<div class="col-sm-4 border border-secondary mt-2 p-2">
    <h3>About us</h3>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Sub Title</h6>
            <p class="card-text">Detailed descrpition.</p>
            <a href="#" class="card-link">Useful link</a>            
        </div>
    </div>
</div>

<script type="text/javascript">
    requirejs(["/scripts/main/jquery-3.4.1.min.js", "/scripts/main/components/aboutus.js"], function ($, about) {

    });
</script>